
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
 
    <!-- Position Column -->
    <ng-container matColumnDef="bookingId">
      <th mat-header-cell *matHeaderCellDef> BookingId </th>
      <td mat-cell *matCellDef="let element"> {{element.bookingId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
      <td mat-cell *matCellDef="let element"> {{element.bookingTime}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let element"> {{element.streetAddress}} </td>
    </ng-container>
  
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.bookingPrice}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>